{
  "work_order_iri": <%= Jason.encode!(work_order_iri) %>,
  "checkpoint_iri": <%= Jason.encode!(checkpoint_iri) %>,
  "graph_digest": <%= Jason.encode!(graph_digest) %>,
  "repository_identity": <%= Jason.encode!(repository_identity) %>,
  "execution_repo_alias": <%= Jason.encode!(execution_repo_alias) %>,
  "base_sha": <%= Jason.encode!(base_sha) %>,
  "goal": <%= Jason.encode!(goal) %>,
  "provider": <%= Jason.encode!(provider) %>,
  "verifier_suite": <%= Jason.encode!(verifier_suite) %>,
  "execution_policy": <%= Jason.encode!(execution_policy) %>,
  "dependencies": []
}
